https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = '/content/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

In [ ]:
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

In [ ]:
# 4. 모델을 이용합니다.
model.predict(독립[0:5])

In [ ]:
종속[0:5]

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08894885],
        [ 0.06800613],
        [-0.05264251],
        [ 3.2233734 ],
        [ 1.3536153 ],
        [ 4.400008  ],
        [ 0.00798356],
        [-0.94823676],
        [ 0.15345971],
        [-0.01015164],
        [-0.08388659],
        [ 0.01481888],
        [-0.54518   ]], dtype=float32), array([2.5534022], dtype=float32)]

In [ ]:
집값 = -0.08894885 * x1 + 0.06800613 * x2 + -0.05264251 * x3 + 3.2233734 * x4 + 1.3536153 * x5 + 4.400008 * x6