# Convolution
특정한 패턴의 특징이 어디서 나타나는지를 확인하는 도구 </br>
-> 필터 -> 특징맵 feature map </br></br>

`tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)` </br>
3 : 필터셋을 3개 사용하겠다 </br>
kernel_size=5 : 필터셋의 사이즈를 (5,5) 로 </br>
=> 3개의 특징맵 = 3채널의 특징맵 </br></br>

-> Flatten() : 표를 만든다

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속. shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 37s 3ms/step - loss: 0.7856 - accuracy: 0.9318
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0813 - accuracy: 0.9779
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0533 - accuracy: 0.9850
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0385 - accuracy: 0.9894
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0292 - accuracy: 0.9913
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0264 - accuracy: 0.9928
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0222 - accuracy: 0.9940
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0208 - accuracy: 0.9944
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0205 - accuracy: 0.9947
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0186 - accuracy: 0.9956

In [ ]:
# 모델을 이용합니다.
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________